* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* New Div */

@media screen and (min-width: 350px) and (max-width: 480px) {
    .wrapper {
        width: 100%;
        height: 100svh;
    }

    .mainnav{
        justify-content: right;
    }

   .mainul{
        display: none;
    }

    .xtra{
        display: block;
        align-items: right;
    }
    
    .dropd{
        width: 30px;
        height: 30px;
    }
    
    .newdiv{
        display: none;
        width: 150px;
    }
    
    .xtra:hover .newdiv{
        display: block;
        position: absolute;
        left: 60%;
        top: 5%;
        background-color: antiquewhite;
    }
    
    .newul{
        display: block;
        list-style: none;
        margin: 10px;
    }
    
    .qli{
        width: 100%;
        border-bottom: 1px #000 solid;
        text-align: left;
        transition-duration: 1s;
        color: blue;
    }
    
    .qli:hover{
        color: red;
    }

    .formwrap {
        width: 95%;
        margin: 10% 2.5%;
    }
}
